<div class="bbanner">
    <div class="banner">
        <div class="tbanner">
            <h1>THE BRAND</h1>
            <h2>OF LUXERIOUS <span class="pink"> FASHION</span></h2></div>
    </div>
</div>
<div class="deal">
    <div class="deal-left">
        <div class="deal-men">
            <div class="dtext">
                <h3>HOT DEAL</h3>
                <H2 class="pink">FOR MEN</H2></div>
        </div>
        <div class="deal-acc">
            <div class="dtext">
                <h3>LUXIROUS &amp; TRENDY</h3>
                <H2 class="pink">ACCESORIES</H2></div>
        </div>
    </div>
    <div class="deal-right">
        <div class="deal-women">
            <div class="dtext">
                <h3>30% OFFER</h3>
                <H2 class="pink">WOMEN</H2></div>
        </div>
        <div class="deal-kids">
            <div class="dtext">
                <h3>NEW ARRIVALS</h3>
                <H2 class="pink">FOR KIDS</H2></div>
        </div>
    </div>
</div>
<section class="featured">
    <h3>Fetured Items</h3>
    <p class="fp">Shop for items based on what we fetured on this week</p>
    <div id="product" class="ftable">
        <div class="modal display"></div>
        <!-- <div class="f1">
             <div class="f1img fimg"></div>

             <p>MANGO PEOPLE T-SHIRT</p>
             <p class="pink">$52.00</p>
             <div class="addcart">
                 <button class="cartlink">Add to Cart</button>
             </div>
         </div>
         <div class="f1">
             <div class="f2img fimg"></div>

             <p>MANGO PEOPLE T-SHIRT</p>
             <p class="pink">$52.00</p>
             <div class="addcart">
                 <button class="cartlink">Add to Cart</button>
             </div>
         </div>
         <div class="f1">
             <div class="f3img fimg"></div>

             <p>MANGO PEOPLE T-SHIRT</p>
             <p class="pink">$52.00</p>
             <div class="addcart">
                 <button class="cartlink">Add to Cart</button>
             </div>
         </div>
         <div class="f1">
             <div class="f4img fimg"></div>

             <p>MANGO PEOPLE T-SHIRT</p>
             <p class="pink">$52.00</p>
             <div class="addcart">
                 <button class="cartlink">Add to Cart</button>
             </div>
         </div>
         <div class="f1"><a href="single.html">
             <div class="f5img fimg"></div>
         </a>
             <p>MANGO PEOPLE T-SHIRT</p>
             <p class="pink">$52.00</p>
             <div class="addcart"><button class="cartlink">Add to Cart</button></div>
         </div>
         <div class="f1"><a href="single.html">
             <div class="f6img fimg"></div>
         </a>
             <p>MANGO PEOPLE T-SHIRT</p>
             <p class="pink">$52.00</p>
             <div class="addcart"><button class="cartlink">Add to Cart</button></div>
         </div>
         <div class="f1"><a href="single.html">
             <div class="f7img fimg"></div>
         </a>
             <p>MANGO PEOPLE T-SHIRT</p>
             <p class="pink">$52.00</p>
             <div class="addcart"><button class="cartlink">Add to Cart</button></div>
         </div>
         <div class="f1"><a href="single.html">
             <div class="f8img fimg"></div>
         </a>
             <p>MANGO PEOPLE T-SHIRT</p>
             <p class="pink">$52.00</p>
             <div class="addcart"><button class="cartlink">Add to Cart</button></div>
         </div>-->
    </div>
    <div class="browse">
        <div class="buttom">
            <a class="tbuttom" href="products.html">
                <p>Browse All Products &nbsp&nbsp<i class="fas fa-long-arrow-alt-right"></i></p>
            </a>
        </div>
    </div>
</section>
<div class="offer">
    <div class="olabel">
        <h1>30% <span class="pink">OFFER</span></h1>
        <h3>FOR WOMEN</h3></div>
    <div class="otext">
        <div class="offer1">
            <img class="offer-img" src="img/car.svg" alt="car">
            <h3>Free Delivery</h3>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
        </div>
        <div class="offer1">
            <img class="offer-img" src="img/percent.svg" alt="percent">
            <h3>Sales &amp; discounts</h3>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
        </div>
        <div class="offer1">
            <img class="offer-img" src="img/king.svg" alt="king">
            <h3>Quality assurance</h3>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
        </div>
    </div>
</div>

<script src="/javascripts/js3.js"></script>
<script src="/javascripts/js2.js"></script>