<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <div id="app">


        <header class="header">
            <div class="container">
                <div class="header-left">
                    <a class="logo" href="/"><img src="/img/logo.png" alt="logo">
                        <p>BRAN</p> <span class="pink">D</span>
                    </a>
                    <filter-el ref="filter-el"></filter-el>
                </div>
                <div class="header-right">
                    <cart ref="cart"></cart>
                    <div class="buttom">
                        <a class="tbuttom" href="#">
                            My Account <i class="fas fa-sort-down fa-account"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <nav class="navig">
            <div class="container2">
                <ul class="menu">
                    <li class="mitemli"><a href="#" class="mitema"> Home </a>
                        <div class="dropbox">
                            <div class="dtri"></div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="mitemli"><a href="#" class="mitema"> Man </a>
                        <div class="dropbox">
                            <div class="dtri"></div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="mitemli"><a href="#" class="mitema"> Women </a>
                        <div class="dropbox">
                            <div class="dtri"></div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="mitemli"><a href="#" class="mitema"> Kids </a>
                        <div class="dropbox">
                            <div class="dtri"></div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="mitemli"><a href="#" class="mitema"> Accessories</a>
                        <div class="dropbox">
                            <div class="dtri"></div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="mitemli"><a href="#" class="mitema"> Featured </a>
                        <div class="dropbox">
                            <div class="dtri"></div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="mitemli"><a href="#" class="mitema"> Hot Deals </a>
                        <div class="dropbox">
                            <div class="dtri"></div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                            <div class="dbox1">
                                <h3 class="dheader">Women</h3>
                                <ul class="dmenu">
                                    <li class="dbli"><a href="#" class="dba"> Dresses

                                        </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Tops </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Sweaters/Knits </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Jackets/Coats </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Blazers </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Denim </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Leggings/Pants </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Skirts/Shorts </a></li>
                                    <li class="dbli"><a href="#" class="dba"> Accessories </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {{{body}}}

        <div class="sub">
            <div class="sub-left">
                <img src="/img/face1.png" alt="face1">
                <p>“Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                    a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                <h3 class="pink">Bin Burhan</h3>
                <p>Dhaka,Bd</p>
            </div>
            <div class="sub-right">
                <h3>SUBSCRIBE</h3>
                <p class="subp">FOR OUR NEWLETTER AND PROMOTION</p>
                <form class="mail">
                    <input type="email" class="imail" name="q" placeholder="Enter Your Email">
                    <div class="buttom bsub">
                        <a class="tbuttom" href="#">
                            <p>Subscribe</p>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <footer class="foot">
            <div class="foot1">
                <div class="ft1-pr1"><a class="logo" href="#"><img src="/img/logo.png" alt="logo">
                        <p>BRAN</p> <span class="pink">D</span>
                    </a><br>
                    <p>Objectively transition extensive data rather than cross functional solutions. Monotonectally
                        syndicate
                        multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array
                        of
                        processes and cross-unit partnerships. <br>

                        Efficiently plagiarize 24/365 action items and focused infomediaries.
                        Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
                    </p>
                </div>
                <div class="ft1-pr2">
                    <h3 class="pink">COMPANY</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">Contact </a></li>


                    </ul>
                </div>
                <div class="ft1-pr2">
                    <h3 class="pink">INFORMATION</h3>
                    <ul>
                        <li><a href="#">Tearms&ampCondition</a></li>
                        <li><a href="#">
                                Privacy Policy


                            </a></li>
                        <li><a href="#">How to Buy</a></li>
                        <li><a href="#">How to Sell</a></li>
                        <li><a href="#">Promotion</a></li>


                    </ul>
                </div>
                <div class="ft1-pr2">
                    <h3 class="pink">SHOP CATEGORY</h3>
                    <ul>
                        <li><a href="#">Men


                            </a></li>
                        <li><a href="#">
                                Women


                            </a></li>
                        <li><a href="#">Child</a></li>
                        <li><a href="#">Apparel</a></li>
                        <li><a href="#">Brows All</a></li>

                    </ul>
                </div>

            </div>
            <div class="foot2">
                <div class="container">
                    <div class="fcopy">© 2017 Brand All Rights Reserved.</div>
                    <div class="flinks">
                        <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="icon inactive"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="icon"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#" class="icon"><i class="fab fa-google-plus-g"></i></a>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/javascripts/FilterComp.js"></script>
    <script src="/javascripts/ProductComp.js"></script>
    <script src="/javascripts/CartComp.js"></script>
    <script src="/javascripts/main.js"></script>


</body>

</html>