<div class="arrivals">
    <div class="container"><h3>New Arrivals </h3>
        <div class="bread"><a class="bread1" href="index.html">Home /</a>
            <a class="bread1" href="#">Men /</a>
            <a href="#" class="bread3 pink">New Arrivals</a></div>
    </div>
</div>
<div class="ProductsMainBody">
    <div class="details-menu">
        <ul class="cd-accordion-menu">
            <li class="has-children">
                <input type="checkbox" name ="group-1" id="group-1" checked >
                <label for="group-1">CATEGORY</label>

                <ul>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Denim</a></li>
                    <li><a href="#">Hoodies & Sweatshirts</a></li>
                    <li><a href="#">Jackets & Coats</a></li>
                    <li><a href="#">Pants</a></li>
                    <li><a href="#">Polos</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Sweaters & Knits</a></li>
                    <li><a href="#">T-Shirts</a></li>
                    <li><a href="#">Tanks</a></li>

                </ul>
            </li>
            <li class="has-children">
                <input type="checkbox" name ="group-2" id="group-2" >
                <label for="group-2">BRAND</label>

                <ul>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Denim</a></li>
                    <li><a href="#">Hoodies & Sweatshirts</a></li>
                    <li><a href="#">Jackets & Coats</a></li>
                    <li><a href="#">Pants</a></li>
                    <li><a href="#">Polos</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Sweaters & Knits</a></li>
                    <li><a href="#">T-Shirts</a></li>
                    <li><a href="#">Tanks</a></li>

                </ul>
            </li>
            <li class="has-children">
                <input type="checkbox" name ="group-3" id="group-3" >
                <label for="group-3">DESIGNER</label>

                <ul>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Denim</a></li>
                    <li><a href="#">Hoodies & Sweatshirts</a></li>
                    <li><a href="#">Jackets & Coats</a></li>
                    <li><a href="#">Pants</a></li>
                    <li><a href="#">Polos</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Sweaters & Knits</a></li>
                    <li><a href="#">T-Shirts</a></li>
                    <li><a href="#">Tanks</a></li>

                </ul>
            </li>
        </ul> <!-- cd-accordion-menu -->
    </div>
    <div class="ProductOptions">
        <div class="opt_block"><h3>TRENDING NOW</h3>
           <p> Bohemian    |    Floral    |    Lace </p>
            <p>Floral    |    Lace    |    Bohemian</p></div>
        <div class="opt_block"><h3>SIZE</h3>
            <form>
                <p><input class="opt_firstInline" type="checkbox" name="option1" value="a1"> <span>XXS</span>
                    <input class="opt_checkbox" type="checkbox" name="option2" value="a2"> <span>XS</span>
                    <input class="opt_checkbox" type="checkbox" name="option3" value="a3"> <span>S</span>
                    <input class="opt_checkbox"type="checkbox" name="option4" value="a4"> <span>M</span> <Br>
                    <input class="opt_firstInline" type="checkbox" name="option5" value="a5"> <span>L</span>
                    <input class="opt_checkbox" type="checkbox" name="option2" value="a2"> <span>XL</span>
                    <input class="opt_checkbox" type="checkbox" name="option3" value="a3"> <span>XXL</span>
                    </p>
                <p>
            </form>

        </div>
        <div class="opt_block"><h3>PRICE</h3>
            <input class="opt_firstInline" type="range">
        </div>


    </div>
    <div class="opt_sort">
        <div class="opt_sort1"><p>Sort By</p> <p><select name="list2">
        <option>Name</option>
        <option>Size</option>
        <option>Color</option>
    </select></p></div>
<div class="opt_sort1">
        <p>Show</p> <p><select name="list3">
            <option>09</option>
            <option>06</option>
            <option>03</option>
        </select></p></div></div>
    <div class="ProductsView">
        <div class="product-block f1"> <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                    class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
            </div>

                </div>
            <div class="addcart2"><a class="cartlink2" href="#"> <i class="fas fa-shopping-cart"> </i>&nbsp;Add to Cart</a></div>
            <div class="retweet"><a href="#" class="retweetlink"><i class="fas fa-retweet"></i></a></div>
            <div class="favorite"><a href="#" class="favoritelink"><i class="far fa-heart"></i></a></div>
            </div>
        <div class="product-block f1"> <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>

            </div>
            <div class="addcart2"><a class="cartlink2" href="#"> <i class="fas fa-shopping-cart"> </i>&nbsp;Add to Cart</a></div>
            <div class="retweet"><a href="#" class="retweetlink"><i class="fas fa-retweet"></i></a></div>
            <div class="favorite"><a href="#" class="favoritelink"><i class="far fa-heart"></i></a></div>
        </div>
        <div class="product-block f1"> <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>

            </div>
            <div class="addcart2"><a class="cartlink2" href="#"> <i class="fas fa-shopping-cart"> </i>&nbsp;Add to Cart</a></div>
            <div class="retweet"><a href="#" class="retweetlink"><i class="fas fa-retweet"></i></a></div>
            <div class="favorite"><a href="#" class="favoritelink"><i class="far fa-heart"></i></a></div>
        </div>
        <div class="product-block f1"> <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>

            </div>
            <div class="addcart2"><a class="cartlink2" href="#"> <i class="fas fa-shopping-cart"> </i>&nbsp;Add to Cart</a></div>
            <div class="retweet"><a href="#" class="retweetlink"><i class="fas fa-retweet"></i></a></div>
            <div class="favorite"><a href="#" class="favoritelink"><i class="far fa-heart"></i></a></div>
        </div>
        <div class="product-block f1"> <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>

            </div>
            <div class="addcart2"><a class="cartlink2" href="#"> <i class="fas fa-shopping-cart"> </i>&nbsp;Add to Cart</a></div>
            <div class="retweet"><a href="#" class="retweetlink"><i class="fas fa-retweet"></i></a></div>
            <div class="favorite"><a href="#" class="favoritelink"><i class="far fa-heart"></i></a></div>
        </div>
        <div class="product-block f1"> <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>

            </div>
            <div class="addcart2"><a class="cartlink2" href="#"> <i class="fas fa-shopping-cart"> </i>&nbsp;Add to Cart</a></div>
            <div class="retweet"><a href="#" class="retweetlink"><i class="fas fa-retweet"></i></a></div>
            <div class="favorite"><a href="#" class="favoritelink"><i class="far fa-heart"></i></a></div>
        </div>
        <div class="product-block f1"> <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>

            </div>
            <div class="addcart2"><a class="cartlink2" href="#"> <i class="fas fa-shopping-cart"> </i>&nbsp;Add to Cart</a></div>
            <div class="retweet"><a href="#" class="retweetlink"><i class="fas fa-retweet"></i></a></div>
            <div class="favorite"><a href="#" class="favoritelink"><i class="far fa-heart"></i></a></div>
        </div>
        <div class="product-block f1"> <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>

            </div>
            <div class="addcart2"><a class="cartlink2" href="#"> <i class="fas fa-shopping-cart"> </i>&nbsp;Add to Cart</a></div>
            <div class="retweet"><a href="#" class="retweetlink"><i class="fas fa-retweet"></i></a></div>
            <div class="favorite"><a href="#" class="favoritelink"><i class="far fa-heart"></i></a></div>
        </div>
        <div class="product-block f1"> <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>

            </div>
            <div class="addcart2"><a class="cartlink2" href="#"> <i class="fas fa-shopping-cart"> </i>&nbsp;Add to Cart</a></div>
            <div class="retweet"><a href="#" class="retweetlink"><i class="fas fa-retweet"></i></a></div>
            <div class="favorite"><a href="#" class="favoritelink"><i class="far fa-heart"></i></a></div>
        </div>




    </div>
    <div class="ProductsPages">
        <div class="pages_view"><a class="pages_view_a" href="#"> View All</a></div>
    </div>

</div>
<div class="bonuses"><div class="bonus-container">
<div class="bonus1">
    <img class="bonus1-img" src="img/car.svg" alt="car">
    <h3>Free Delivery</h3>
    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p></div>
    <div class="bonus1">
        <img class="bonus2-img" src="img/percent.svg" alt="percent">
    <h3>Sales &amp; discounts</h3>
    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p></div>
        <div class="bonus1">
            <img class="bonus3-img" src="img/king.svg" alt="king">
        <h3>Quality assurance</h3>
    <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
</div></div></div>