<div class="arrivals">
    <div class="container"><h3>New Arrivals </h3>
        <div class="bread"><a class="bread1" href="index.html">Home /</a>
            <a class="bread1" href="#">Men /</a>
            <a href="#" class="bread3 pink">New Arrivals</a></div>
    </div>
</div>
<div class="picture">
    <div class="container">
        <div class="arrow-l"><i class="fas fa-angle-left"></i></div>
        <div class="picture1"></div>
        <div class="arrow-r"><i class="fas fa-angle-right"></i></div>
    </div>
</div>
<div class="options-back">
    <div class="container">
        <div class="options">
            <h4>WOMEN COLLECTION</h4>
            <h3>Moschino Cheap And Chic</h3>
            <div class="opt-text">Compellingly actualize fully researched processes before proactive outsourcing.
                Progressively syndicate collaborative architectures before cutting-edge services. Completely visualize
                parallel core competencies rather than exceptional portals.
            </div>
            <div class="material"><p>MATERIAL: <span class="bold"> COTTON</span></p>
                <p>DESIGNER: <span class="bold"> BINBURHAN</span></p></div>
            <h2>$561</h2>
            <div class="opt-choose">
                <div class="color">
                    <p>CHOOSE COLOR</p>
                    <input type="color" list="presetColors">
                    <datalist id="presetColors">
                        <option value="#ff0000"/>
                        <option value="#00ff00"/>
                        <option value="#0000ff"/>
                    </datalist>
                </div>
                <div class="size">
                    <p>CHOOSE SIZE</p>
                    <form action="formdata" method="post" name="form1">
                        <p><select name="list1">
                            <option>XXL</option>
                            <option>XL</option>
                            <option>L</option>
                            <option>M</option>
                            <option>S</option>
                            <option>XS</option>
                        </select></p>
                    </form>
                </div>
                <div class="QUANTITY"><p>QUANTITY</p>

                    <form>
                        <input type="number">

                    </form>
                </div>


            </div>
            <div class="opt-addcart"><a class="opt-cartlink pink" href="#"><i class="fas fa-shopping-cart"></i> Add to
                Cart</a></div>

        </div>
    </div>
</div>
<section class="single-also">
    <h3>you may like also</h3>
    <div class="ftable">
        <div class="f1">
            <div class="f9img fimg"></div>
            <p>BLAZE LEGGINGS</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>
            </div>
            <div class="addcart"><a class="cartlink" href="#">Add to Cart</a></div>
        </div>
        <div class="f1">
            <div class="f10img fimg"></div>
            <p>ALEXA SWEATER</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>
            </div>
            <div class="addcart"><a class="cartlink" href="#">Add to Cart</a></div>
        </div>
        <div class="f1">
            <div class="f11img fimg"></div>
            <p>AGNES TOP</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>
            </div>
            <div class="addcart"><a class="cartlink" href="#">Add to Cart</a></div>
        </div>
        <div class="f1">
            <div class="f12img fimg"></div>
            <p>SYLVA SWEATER</p>
            <div class="stars"><p class="pink">$52.00</p>
                <div class="fstars"><i class="fas fa-star star"></i><i class="fas fa-star star"></i> <i
                        class="fas fa-star star"></i><i class="fas fa-star star"></i> <i class="fas fa-star star"></i>
                </div>
            </div>
            <div class="addcart"><a class="cartlink" href="#">Add to Cart</a></div>
        </div>


    </div>

</section>